
    
    body {
      position: relative;
      height: 100%;
    }

    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
      background: #F4A764;
background: linear-gradient(90deg, rgba(244, 167, 100, 1) 22%, rgba(248, 187, 135, 1) 45%, rgba(255, 222, 194, 1) 83%);
    }

    .swiper {
      width: 499px;
      height: 619px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background:none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 420px;
      height: 560px;
      object-fit: cover;
      margin: 0 auto;
    }


    header div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
    }

    header button{
        width: 120px;
        height: 35px;
        background-color: #000  ;
        border: none;
        color: #fff;
        border-radius: 50px;
        font-size: 17px;
    }

header a{
    color: #000;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box{
    display: flex;
    justify-content: center;
}

